<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/briefcase.css" />
    <title>briefcase</title>
  </head>

  <body>
    <div class="white">
      <div class="black">
        <div class="green">


                    <!-- --- foto w ism sayed ---------------- -->
                    <div class="hed">
                        <div class="information">
                        <h4>NEED A RIDE ?</h4>
                        <h5>Street , City ,Country</h5>
                        </div>

                        <img src="/backgrnd/009.jpg" alt="error" />
                    </div>




                    <!-- ----------  lista kamla w wach fiha --------------------- -->
                    <div class="container">

                                <!-- ------------  Title Li Bla5dar  "  +100 POST ----------------------------" -->
                                <div class="title">

                                    <div class="gosh">
                                        <h4>+100 post</h4>
                                        <button>
                                            <i class="fa-solid fa-arrow-left"></i>  
                                        </button>
                                    </div>

                                    <button>
                                        <i class="fa-solid fa-plus"></i>  
                                    </button>

                                </div>


                                <!-- -----------  continarat Li Ta7et ba3dahom ------------------------------------------- -->
                                <div class="kaml" onclick="back()">

                                    <div class="goshh">
                                        <img src="/backgrnd/salon.png" alt="">
                                    </div>

                                    <div class="droitt">
                                        
                                            <h4>فــــــرصة عمل مميزة: شركــــة   <br>   سباكة رائـــــــدة تبحث عن    <br>    موظــــــــفين موهــــوبين!</h4>
                                            <h5 style="color: #757575;">نبحث عن موظفين موهوبين للانضمام إلى فريقنا. إذا كنت تتمتع بالمهارة والخبرة في مجال السباكة وتبحث عن فرصة للتطور المهني، نحن نريدك معنا</h5>
                                    



                                            <div class="small">
                                            <h5 style="color: #03A461;">Plumbing Company</h5>
                                            <img src="/backgrnd/salon.png" alt="">  
                                
                                    </div>

                                    
                                </div>

                                </div>


                                <div class="kaml">

                                    <div class="goshh">
                                        <img src="/backgrnd/sabala.png" alt="">
                                    </div>

                                    <div class="droitt">
                                        
                                            <h4>فــــــرصة عمل مميزة: شركــــة   <br>   سباكة رائـــــــدة تبحث عن    <br>    موظــــــــفين موهــــوبين!</h4>
                                            <h5 style="color: #757575;">نبحث عن موظفين موهوبين للانضمام إلى فريقنا. إذا كنت تتمتع بالمهارة والخبرة في مجال السباكة وتبحث عن فرصة للتطور المهني، نحن نريدك معنا</h5>
                                    



                                            <div class="small">
                                            <h5 style="color: #03A461;">Barber Shop</h5>
                                            <img src="/backgrnd/sabala.png" alt="">  
                                
                                    </div>

                                    
                                </div>

                                </div>


                    </div>


          
                    <!-- ---- Lista Li Lta7et ----------------- -->
                    <div class="listButon">
                        <form action="/home">
                        <button type="submit" id="submit">
                            <i class="fa-solid fa-house"></i>
                        </button>
                        </form>

                        <form action="/group">
                        <button type="submit" id="submit">
                            <i class="fa-solid fa-user-group"></i>
                        </button>
                        </form>

                        <form action="/briefcase">
                        <button type="submit" id="submit">
                            <i class="fa-solid fa-briefcase"></i>
                        </button>
                        </form>

                        <form action="/truck">
                        <button type="submit" id="submit">
                            <i class="fa-solid fa-truck"></i>
                        </button>
                        </form>

                        <form action="/phone">
                        <button type="submit" id="submit">
                            <i class="fa-solid fa-phone"></i>
                        </button>
                        </form>
                    </div>
          


        
        
           </div>
        </div>
    </div>

    <!-- <script src="/home.js"></script> -->
  </body>
</html>
