<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/cars.css" />
    <title>LogIn</title>
  </head>

  <body>


      <div class="white">
         <div class="black">
            <div class="green">
                
              <!-- -----  sahem La5dar Brk ----------------------------------------------- -->
                <div class="header">
                    <form action="/truck">
                        <button>
                          <i class="fa-solid fa-arrow-left"></i>  
                        </button>
                    </form>
                </div>

                
                <h1> Welcom In Cars </h1>

              <!-- ---------- search La5dar -------------- -->
                    <div class="cont">


                        <div class="serc">
                            <input type="text" placeholder="Search...">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>

                        
                    
                    </div>



              <!-- --------------  ma3lomat lcraris Li ta7at ba3ed ------------------------------------- -->


                  <form action="/contact" style="cursor: pointer;">

                        <div class="kamel">


                              <div class="hed" >
                                      <button>
                                        <i class="fa-solid fa-arrow-right"></i>  
                                      </button>
                              </div>
                          


                              <div class="ism">
                                <h5 style="color: aquamarine;"> RENAULT SYMBOL</h5>
                                <h6>متوفرة للكراء ,اطلب الان!</h6>
                              </div>


                              <div class="imaag">
                                <img src="/backgrnd/voiter.png" alt="erooor">
                              </div>
                        
                              


                        </div>

                  </form>

                  <form action="/contact" style="cursor: pointer;">
                    <div class="kamel">

                      
                      <div class="hed">
                          <form action="/truck">
                              <button>
                                <i class="fa-solid fa-arrow-right"></i>  
                              </button>
                          </form>
                      </div>


                      <div class="ism">
                        <h5 style="color: aquamarine;"> RENAULT SYMBOL</h5>
                        <h6>متوفرة للكراء ,اطلب الان!</h6>
                      </div>


                      <div class="imaag">
                        <img src="/backgrnd/camio.png" alt="erooor">
                      </div>
                
                      


                    </div>
                  </form>

                  <form action="/contact" style="cursor: pointer;">
                    <div class="kamel">

                      
                      <div class="hed">
                          <form action="/truck">
                              <button>
                                <i class="fa-solid fa-arrow-right"></i>  
                              </button>
                          </form>
                      </div>


                      <div class="ism">
                        <h5 style="color: aquamarine;"> RENAULT SYMBOL</h5>
                        <h6>متوفرة للكراء ,اطلب الان!</h6>
                      </div>


                      <div class="imaag">
                        <img src="/backgrnd/moto.png" alt="erooor">
                      </div>
                
                      


                    </div>
                  </form>

                  <form action="/contact" style="cursor: pointer;">
                    <div class="kamel">

                      
                      <div class="hed">
                          <form action="/truck">
                              <button>
                                <i class="fa-solid fa-arrow-right"></i>  
                              </button>
                          </form>
                      </div>


                      <div class="ism">
                        <h5 style="color: aquamarine;"> RENAULT SYMBOL</h5>
                        <h6>متوفرة للكراء ,اطلب الان!</h6>
                      </div>


                      <div class="imaag">
                        <img src="/backgrnd/voiterblack.png" alt="erooor">
                      </div>
                
                      


                    </div>
                  </form>



            </div>
         </div>
      </div>










  


    </body>
</html>