<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Contact Us</title>
</head>
<body>
    
    <div class="form-container">
        <form class="Contact-form" onclick="not()">
            <h2>Contact</h2>
            <input type="text" placeholder="Your name" id="name"><br>
            <input type="email" placeholder="Email" id="email"><br>
            <input type="text" placeholder="Telephone " id="subject"><br>
            <textarea id="message" placeholder="Message ..." cols="30" rows="10"></textarea><br>
            <input type="submit" class="submit" value="send message">
        </form>



        <div class="eror">
            <h2>
                The site is slow , don't click multiple times 
            </h2>
        </div>


    </div>





<script src="/js/app2.js"></script>
</body>
</html>