<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/LogIn.css">
    <title>LogIn</title>
</head>
<body>
    
    <div class="white">
        <div class="black">
            <div class="green">
                 <i class="fa-sharp fa-solid fa-dove" style="color: #d5d8dd;"></i>

                   <div class="inside">
                        <div class="hed">
                            <div class="gosh"><h1>!  انضم الينا<br> الان  </h1></div>
                            <div class="droit"><h5>واستمتع <br>بخدماتنا و <br>عروضنا</h5></div>
                        
                        
                        </div>
                        
                   </div>
            </div>
        </div>
    </div>

</body>
</html> -->


<!-- ----------------------------------------------------------------------------------------------------------------------- -->





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CreatCompte.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>CreatCompte</title>
</head>
<body>
    
    <div class="white">
        <div class="black">
            <div class="green">
                 <i class="fa-sharp fa-solid fa-dove" style="color: #d5d8dd;"></i>

                   <div class="inside">
                        <div class="continer">
                           
                            <!-- ---------- L ism Li blon a5dar jayin Lfi9 ------------------------------------------- -->
                            <div class="hed">
                               <div class="gosh"><h1>  انضم الينا<br>! الان  </h1></div>
                               <div class="droit"><h5>واستمتع <br>بخدماتنا و <br>عروضنا</h5></div>
                            </div>
                        

                           
                               
                            <div class="inpt">
                                
                                <form action="/SendData" method="post">
                                    
                                        <input type="text" placeholder="NAME" name="nameee">
                                        <input type="text" placeholder="E-MAIL" name="mailll">
                                        <input type="password" placeholder="PASSWORD" name="passss">
                                        <input type="password" placeholder="CONFIRMI PASSWORD" >
                                    
                                        <!-- <form action="/LogIn">
                                            <button id="creaytf">YOU HAVE AN ACCOUNT ALLREDY ?</button>
                                        </form> -->

                                        <button class="log">Enter</button>
                                    
                                </form>

                                      <button id="creaytf2" >**يستحسن استخدام اسمك الحقيقي لتسهيل عثور الأشخاص عليك وضمان المصداقية</button>
                                    

                                </div>
                          

                        </div>
                        
                   </div>
            </div>
        </div>
    </div>

</body>
</html>