<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/edit.css" />
    <title>eEit</title>
  </head>
  <body>
    <div class="white">
      <div class="black">
        <div class="green">
          <!-- ----------  back & save --------------- -->
          <div class="header">

                <form action="/home">
                  <button>
                    <i class="fa-solid fa-arrow-left"></i>  
                  </button>
                </form>


                <form action="/home" id="ref">  
                      <button id="ref">save</button>
                </form>


          </div>

          <!-- ------- foto & name ---------------- -->
          <div class="foto">
            <img src="/backgrnd/009.jpg" alt="eroor" />
            <h3>your Name</h3>
          </div>

          <!-- ---------- ta3diLat ------------- -->
              <div class="container">

                 

                
                                        
                                        
                                      
                                

                              
                                    
                                    <form class="list">

                                        <div class="cntr">
                                             <div class="frname">
                                                    <label for="firstname">First Name:</label>
                                                    <input type="text" id="firstname" name="firstname" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname">Last Name:</label>
                                                    <input type="text" id="lastname" name="lastname" required>
                                                </div>
                                        </div>
                                               


                                        <div class="emil">
                                            <label for="email">Email:</label>
                                            <input type="email" id="phone" name="email" required>
                                        </div>


                                        <div class="emil">
                                            <label for="phone">Phone:</label>
                                            <input type="text" id="phone" name="phone" required>
                                        </div>



                                        <div class="cntr">    
                                                <div class="form-group">
                                                    <label for="street">Street:</label>
                                                    <input type="text" id="street" name="street" required>
                                                </div>

                                                <div class="form-group">
                                                    <label for="city">City:</label>
                                                    <input type="text" id="city" name="city" required>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label for="wilaya">Wilaya:</label>
                                                    <input type="text" id="wilaya" name="wilaya" required>
                                                </div>
                                        </div>


                                        <div class="cntr">
                                            
                                                <div class="emil">
                                                    <label for="job">Job:</label>
                                                    <input type="text" id="job" name="job" required>
                                                </div>

                                                <div class="emil">
                                                    <label for="age">Age:</label>
                                                    <input type="number" id="age" name="age" required>
                                                </div>
                                        </div>

                                                   



                                        
                                        
                                    </form>
                                

                             


              </div>


        </div>
      </div>
    </div>
  </body>
</html>
