<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/group.css">
    <title>LogIn</title>
</head>


<body>
    
    <div class="white">
        <div class="black">
            <div class="green">




                
                <!-- --- foto w ism sayed ---------------- -->
                <div class="hed">

                    <div class="information">

                        <h4>FIND THE SERVICES <br> THAT U ARE LOOKING FOR </h4>
                        <h5>Street , City ,Country   </h5>
                    </div>
                    
                    <img src="/backgrnd/009.jpg" alt="error" >
                </div>

                <!-- --- sersh l5adr  ---------------- -->
                <div class="cont">


                    <div class="serc">
                        <input type="text" placeholder="Search...">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>

                    <div class="btn">
                        <button>Button 1</button>
                        <button>Button 2</button>
                        <button>Button 3</button>
                        <button>Button 4</button>    
                    </div>
                   
                </div>



                <!-- ---ki tzid 3ared ya6la3 hna  ---------------- -->
                <%  { %>
                 
                    <div id="bdy">
                          <div id="jma3a">
                            <img src="/backgrnd/1.png" alt="eroor" width="30px">
                            <h4><%= arr[1].nameee %></h4>
                            <h6>Street , City ,Country   </h6>
                            <h3 style="color: #03A461;">PAINTER</h3>
                          </div>
                    </div>

                <% } %>
                
             










              <!-- ------------------- LIsta LI Lta7et --------------------------------------------------- -->
              <div class="listButon">

                    
                <form action="/home" >
                  <button type="submit" id="submit">
                      <i class="fa-solid fa-house"></i>
                  </button>
                </form>
             
                <form action="/group" >
                  <button type="submit" id="submit">
                    <i class="fa-solid fa-user-group"></i>
                  </button>
                </form>
                
                <form action="/briefcase" >
                  <button type="submit" id="submit">
                    <i class="fa-solid fa-briefcase"></i>
                  </button>
                </form>

                <form action="/truck" >
                  <button type="submit" id="submit">
                      <i class="fa-solid fa-truck"></i>
                  </button>
                </form>

                <form action="/phone" >
                  <button type="submit" id="submit">
                      <i class="fa-solid fa-phone"></i>
                  </button>
                </form>
              </div>






                
            </div>
        </div>
    </div>


    <script src="/group.js"></script>
</body>
</html>

