<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/home.css">
    <title>LogIn</title>
</head>


<body>
    
    <div class="white">
        <div class="black">
            <div class="green">




                
                <!-- --- foto w ism sayed ---------------- -->
                <div class="hed">

                    <div class="information">
                        <h1>Hi ! <%= arr[0].nameee %> </h1>
                        <h5>Street , City ,Country   </h5>
                    </div>
                    
                    <img src="/backgrnd/009.jpg" alt="error" >
                
                </div>




                <!-- --- lista l5adra w logo m3a idit  ---------------- -->
                <div class="containerGreen">
                            <img src="/backgrnd/logo.png" alt="">
                        <div class="titleadd">
                            <h1>    اكمل اضافة المعلومات<br> الى حسابــــــك واجعله <br>احترافـــــــــــــيا</h1>
                        
                            <form action="/edit">
                                <div class="edit">
                                    <button>تعديل الان</button>
                                </div>
                            </form>



                        </div>

                       
                </div>



                <!-- ---ki tzid 3ared ya6la3 hna  ---------------- -->
                <div id="bdy">
                </div>


            </div>










            <!-- ------------------- LIsta LI Lta7et --------------------------------------------------- -->
                <div class="listButon">

                    
                          <form action="/home" >
                            <button type="submit" id="submit">
                                <i class="fa-solid fa-house" title="home"></i>
                            </button>
                          </form>
                       
                          <form action="/group" >
                            <button type="submit" id="submit">
                              <i class="fa-solid fa-user-group" title="group"></i>
                            </button>
                          </form>
                          
                          <form action="/briefcase" >
                            <button type="submit" id="submit">
                              <i class="fa-solid fa-briefcase" title="briefcase"></i>
                            </button>
                          </form>

                          <form action="/truck" >
                            <button type="submit" id="submit">
                                <i class="fa-solid fa-truck" title="truck"></i>
                            </button>
                          </form>

                          <form action="/phone" >
                            <button type="submit" id="submit">
                                <i class="fa-solid fa-phone" title="phone"></i>
                            </button>
                          </form>
                </div>





            </div>
        </div>
    </div>
    <script src="/home.js"></script>
</body>
</html>