<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/LogIn.css">
    <title>LogIn</title>
</head>
<body>
    
    <div class="white">
        <div class="black">
            <div class="green">
                 <i class="fa-sharp fa-solid fa-dove" style="color: #d5d8dd;"></i>

                   <div class="inside">

                        <div class="continer">
                           
                            <div class="hed">
                               <div class="gosh"><h1>  انضم الينا<br>! الان  </h1></div>
                               <div class="droit"><h5>واستمتع <br>بخدماتنا و <br>عروضنا</h5></div>
                            </div>
                        

                           
                               



                            <div class="inpt">

                                <input type="text" placeholder="E-MAIL" id="one" name="one">
                                <input type="password" placeholder="PASSWORD" id="two">
                                <h6 style="color: red; padding:5px 0 6px 70px ; cursor: pointer;" >forget password ?</h6>
                                
                                <h5 style="color: rgb(255, 255, 255); position: absolute; display: none;" id="incrct">PASSWORD OR E MAIL <br> IS IN CORRECT</h5>
                                <button type="button" onclick="firivi()" id="clk" class="log">Enter</button>

                                <form action="CreatCompte">
                                    <button id="creaytf" >you d'ont have an account ?</button>
                                </form>

                            </div>
                          


                            
                        </div>
                        
                   </div>
                         










                           
                   


            </div>
         </div>
    </div>
    

  

  
   <% for( let x = 0; x <= arr.length; x++ ) { %>
                 
      <script>
        console.log(arr[x].nameee)
      </script>
    
    
      <% } %>

    




<script src="/Login.js"></script>
</body>
</html>