<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Open.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Open</title>
</head>
<body>




    <div class="white">
        <div class="black">
            <div class="green">
                <div class="contenar">
                   
                    <img src="/backgrnd/w3al.png" alt="eroor imag">
                    
                    <h2> welacome to <br>craft dz </h2>

                    <form action="/LogIn">
                      <button> tap the screen</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

</body>
</html>