<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/phone.css" />
    <title>LogIn</title>
  </head>

  <body>
    <div class="white">
      <div class="black">
        <div class="green">


          <!-- -------- foto w ism sayed ---------------------------------------------------------- -->
             <div class="hed">
                    <div class="information">
                    <h4>ABOUT US !</h4>
                    <h5>Street , City ,Country</h5>
                    </div>

                     <img src="/backgrnd/009.jpg" alt="error" />
             </div>

          <!-- ---------------  martoo w lktiba li m3aha ------------------------ -->
              <div class="marto">
                <img src="/backgrnd/marto.png" alt="">

                <div class="klam">
                    <h2>what’s  <br> craft DZ?</h2>
                    <p>
                        تطبيق يقوم بالربط بين العمال وطالبين العمل يعمل على طلب الخدمه بدون تعب وبدون تضييع وقت ويمكن ايضا تقييم العامل في التطبيق. 
                        <br>
                        <br>
                        وكذلك يمكن لاصحاب الشركات الصغيره والمؤسسات الخاصه عرض مناصب عمل للمقبلين على العمل هذا ما يمكننا توفير الفرص  والتخلص من البطاله نوعا ما!
                    </p>
                </div>

              </div>


          <!-- --------------- Tablo Li fih cart-pay  ------------------------ -->

          <div class="pay">
              <h2> OUR  <br> CONTA- <br> CTS </h2>
              <div class="nbr">
                <div class="tawasol">
                        <h4>+213-000-000-000 <br><br> Email-address@gmail.com </h4>
                </div>

               
              </div>
          </div>



            <!-- ------------------- LIsta LI Lta7et --------------------------------------------------- -->
              <div class="listButon">

                    
                <form action="/home" >
                  <button type="submit" id="submit">
                      <i class="fa-solid fa-house"></i>
                  </button>
                </form>
             
                <form action="/group" >
                  <button type="submit" id="submit">
                    <i class="fa-solid fa-user-group"></i>
                  </button>
                </form>
                
                <form action="/briefcase" >
                  <button type="submit" id="submit">
                    <i class="fa-solid fa-briefcase"></i>
                  </button>
                </form>

                <form action="/truck" >
                  <button type="submit" id="submit">
                      <i class="fa-solid fa-truck"></i>
                  </button>
                </form>

                <form action="/phone" >
                  <button type="submit" id="submit">
                      <i class="fa-solid fa-phone"></i>
                  </button>
                </form>
              </div> 




        </div>
      </div>
    </div>
  </body>
</html>
