<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/truck.css" />
    <title>LogIn</title>
  </head>

  <body>
    <div class="white">
      <div class="black">
        <div class="green">

          <!-- --- foto w ism sayed ---------------- -->
          <div class="hed">
            <div class="information">
              <h4>NEED A RIDE ?</h4>
              <h5>Street , City ,Country</h5>
            </div>

            <img src="/backgrnd/009.jpg" alt="error" />
          </div>

          <!-- --- sersh l5adr  ---------------- -->
          <div class="cont">
            <div class="serc">
              <input type="text" placeholder="ex:نوع المركبة" />
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
          </div>

          


          <div class="hg">

          
            <div id="how">
                  <div class="gochh">

                      <div id="car">
                        
                          <div id="gren">     
                            <h4>YOU NEED A <br>  <h2> CAR ? </h2> </h4>
                            <h6>اوجد سيارة للتأجير التي تناسب متطلباتك</h6>


                            <form action="/cars">
                                <button type="submit"><i class="fa-sharp fa-solid fa-arrow-right"></i></button>
                            </form>
                          
                          </div>
                      
                      </div>

                    
                  </div>
              
                  <div class="droitt">
                    <img src="/backgrnd/voiter.png" alt="">
                  </div>
            </div>
          
            <div id="how">
              <div class="gochh">

                  <div id="car">
                    
                      <div id="gren">     
                        <h4>YOU NEED A <br>  <h2> TRUCK ? </h2> </h4>
                        <h6>اوجد شاحنة للتأجير التي تناسب متطلباتك</h6>
                        <button type="submit"><i class="fa-sharp fa-solid fa-arrow-right"></i></button>
                      </div>
                  
                  </div>

                
              </div>
          
              <div class="droitt">
                <img src="/backgrnd/camio.png" alt="">
              </div>
            </div>

            <div id="how">
              <div class="gochh">

                  <div id="car">
                    
                      <div id="gren">     
                        <h4>YOU NEED A <br>  <h2> TRUCK ? </h2> </h4>
                        <h6>اوجد شاحنة للتأجير التي تناسب متطلباتك</h6>
                        <button type="submit"><i class="fa-sharp fa-solid fa-arrow-right"></i></button>
                      </div>
                  
                  </div>

                
              </div>
          
              <div class="droitt">
                <img src="/backgrnd/camio.png" alt="">
              </div>
            </div>

          </div>


            <!-- ---- Lista Li Lta7et ----------------- -->
              <div class="listButon">
                <form action="/home">
                  <button type="submit" id="submit">
                    <i class="fa-solid fa-house"></i>
                  </button>
                </form>

                <form action="/group">
                  <button type="submit" id="submit">
                    <i class="fa-solid fa-user-group"></i>
                  </button>
                </form>

                <form action="/briefcase">
                  <button type="submit" id="submit">
                    <i class="fa-solid fa-briefcase"></i>
                  </button>
                </form>

                <form action="/camio">
                  <button type="submit" id="submit">
                    <i class="fa-solid fa-truck"></i>
                  </button>
                </form>

                <form action="/phone">
                  <button type="submit" id="submit">
                    <i class="fa-solid fa-phone"></i>
                  </button>
                </form>
              </div>
          
        </div>
      </div>
    </div>

    <!-- <script src="/truck.js"></script> -->
  </body>
</html>
